.form-create {
    max-width: 25rem;
    border: 0.15rem solid #000000;
    border-radius: 1rem;
    padding: 1rem;
}

.form-buttons {
    margin-top: 1rem;
}

.board {
    width: 20rem;
    height: 10rem;
    display: flex;
    border: 0.15rem solid #000000;
    border-radius: 1rem;
    justify-content: center;
}

.board-list:hover {
    opacity: 0.75;
}

.board-title {
    display: flex;
    align-items: center;
}